/** main.html styles **/
/** Scss would be great right about now **/
#actions {
    flex: 1; /* Controls size in #base-container*/

	display: flex;
	font-family: 'Open Sans', sans-serif;
}

#actions > :nth-child(n){
	flex: 1;
	flex-direction: column;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#actions > :nth-child(1){
    border-right: 2px solid rgb(5, 23, 45);
 }

#actions > :nth-child(2){
    border-left: 1px solid rgb(7, 41, 53);
}

#actions  {
	background-color: rgb(11, 27, 39);
	color: white;
}

#actions button {
	background-color: rgb(11, 27, 39);
	color:#ffffffcf;
	height: 33%;
	width: 60%;
	border: none;
	letter-spacing: 1px;
	font-size: xx-large;
}

#barcodeIcon {
    display: flex;
    height: calc(5vh + 4vw);
    width: calc(5vh + 4vw);
    justify-content: space-between;
}

#barcodeIcon > :nth-child(n) {
	background-color: #ffffffd6;
	width: 20%;
	height: calc(5vh + 4vw);
}
#addIcon {
    fill: #ffffffd6;
    height: calc(5vh + 4vw);
    width: calc(5vh + 4vw);
}


#scanPrompt {
	text-align: center;
    font-family: sans-serif;
    font-size: 3em;
    color: #93bbb6;
}
