/* base.html styles*/
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#base-container {
    height: 100%;
    width: 100%;
    background-color: rgb(11, 27, 39);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#title {
    flex: 0.35; /* Controls it's size in #base-container*/

    font-family: 'Work Sans', sans-serif;
    color: rgb(204, 204, 204);
    font-size: calc(5vw + 5vh);
    text-align: center;
    letter-spacing: 1px;
}

#bubbleArea {
    flex: 0.2;
    position: relative;
}

.bubble {
    --size: 50;
    --hue: 195;
    --bubble-outline: hsl(var(--hue), 100%, 50%);
    --bubble-spot: hsl(var(--hue), 100%, 75%);
    --bubble-shade: hsl(var(--hue), 100%, 70%);
    --top: 100%;
    --left: 5%;

    position: absolute;
    top: var(--top);
    left: var(--left);
    background: radial-gradient(100% 115% at 25% 25%, #fff, transparent 33%),
    radial-gradient(15% 15% at 75% 75%, var(--bubble-spot), transparent),
    radial-gradient(100% 100% at 50% 25%, transparent, var(--bubble-shade) 98%);
    border: 1px solid var(--bubble-outline);
    border-radius: 100%;
    height: calc(var(--size) * 1px);
    width: calc(var(--size) * 1px);
    
    /* animation stuff */
    
    animation-name: float;
    animation-duration: calc(var(--speed) * 1s);
    animation-delay: calc(var(--delay) * -1s);
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
    /* The line below adds a color change animation to match the 'i', but it's pretty resource intensive */
    /*animation: float calc(var(--speed) * 1s) ease-in-out calc(var(--delay) * -1s) infinite, rainbow-cycle-hue 18s infinite cubic-bezier(0.2, 0.2, 0.79, 0.79);*/
}

.title-text {
    margin     : 0;
    line-height: 0.55;
    text-shadow: 0px 1px 4px #ffffff42, 0px 1px 6px #ffffff40;
}

span{
    display: inline-block;
}

.i-stack {
    display: block;
    padding: 0.25vh 0;
}

.i-stack.rainbow-cycle:hover {
    -webkit-animation: bounce 1.1s both;
            animation: bounce 1.1s both;
}


/* Animations */
/* rainbow color change */
@keyframes rainbow-cycle {
    0%{ color: #ff0000d2;}
    10% { color: #ff7b00e1; }
    30%{ color: #fbff00d2;}
    40% { color: #2bff00e1; }
    55%{ color: #00f7ffd2;}
    65%{ color: #0059ffd2;}
    75% { color: #0400ffcc; }
    85%{ color: #9900ffd2;}
    95% { color: #ff00f2e1; }
    100%{ color: #ff0062d2;}
}

.rainbow-cycle {
     --hue: 195;
    animation: rainbow-cycle 18s infinite cubic-bezier(0.2, 0.2, 0.79, 0.79);
}

@keyframes rainbow-cycle-hue {
    0%{ --hue: 10;}
    10% { --hue: 25;}
    30%{ --hue: 42;}
    40% { --hue: 102;}
    55%{ --hue: 175;}
    65%{ --hue: 194;}
    75% { --hue: 244;}
    85%{ --hue: 300;}
    95% { --hue: 320;}
    100%{ --hue: 340;}
}

.rainbow-hue {
    --hue: 195;
    animation: rainbow-cycle-hue 18s infinite cubic-bezier(0.2, 0.2, 0.79, 0.79);
}


@-webkit-keyframes slide-up {
    0% {
      -webkit-transform: translateY(6vh) rotateX(-60deg);
              transform: translateY(6vh) rotateX(-60deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0deg);
              transform: translateY(0) rotateX(0deg);
      opacity: 1;
    }
  }
  @keyframes slide-up {
    0% {
      -webkit-transform: translateY(6vh) rotateX(-60deg);
              transform: translateY(6vh) rotateX(-60deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0deg);
              transform: translateY(0) rotateX(0deg);
      opacity: 1;
    }
  }
  
.slide-up {
	-webkit-animation: slide-up 0.6s cubic-bezier(0.17, -0.25, 0.32, 1.25) both;
            animation: slide-up 0.6s cubic-bezier(0.17, -0.25, 0.32, 1.25) both;
}

/* Bubble Floating Animation */
@keyframes float {
  from {
    opacity: 1;
    transform: translate(-50%, 0) scale(0);
  }
  to {
    opacity: 0;
    transform: translate(-50%, calc(var(--distance) * -1vh)) scale(var(--scale));
  }
}

/*  Bouncing Animation */

@keyframes bounce {

    0% {
        -webkit-transform: translateY(-1vh);
                transform: translateY(-1vh);
        opacity: 0.8;
        }
    10% {
        -webkit-transform: translateY(-3vh);
                transform: translateY(-3vh);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        opacity: 1;
      }
      38% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        opacity: 1;
      }
      55% {
        -webkit-transform: translateY(-2.5vh);
                transform: translateY(-2.5vh);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
      }
      72% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
      }
      81% {
        -webkit-transform: translateY(-1vh);
                transform: translateY(-1vh);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
      }
      90% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
      }
      95% {
        -webkit-transform: translateY(-0.5vh);
                transform: translateY(-0.5vh);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
      }
      100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
      }
}

.bouncing {
    animation                : bounce 0.4s;
    animation-iteration-count: infinite;
    animation-direction      : alternate;
}
