#registrationArea {
    flex: 1;
    font-family: 'Open Sans' sans-serif;
}

.registration-form {
    color: #e6e6e6;
    font-family: 'Open sans';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-form h3{
    font-size: 1.67em;
    font-weight: 100;
    margin: unset;
}

.registration-form div{
    width: 33%;
    display: inline-grid;
    z-index: 9999;
    margin-top: 0.33em;
}

.registration-form div:nth-last-child(1){
    width: 16%;
    margin-top: 1.3em;
}

.registration-form div > label{
    font-size: 1.12em;
    letter-spacing: 0.6px;
}

.registration-form input[type=text] {
    border-radius: 2px;
    background-color: #11283a;
    border: 1px solid #45e3ea87;
    color: #d2dfe2cc;
    padding: 0.27em;
    font-size: 1.04em;
    letter-spacing: 0.5px;
}

.registration-form input[type=text]:focus{
    background-color: #122e44;
    border: 2px solid #3be7efd4;
}

.registration-form input[type=submit]{
    border-radius: 3px;
    padding: 0.6em 0.33em;
    border: 1px solid #45e3ea87;
    cursor: pointer;
    color: #52eadc;
    background: linear-gradient(#0b1b27, #0e3440);
    letter-spacing: 0.6px;
}
