<!-- All the other Templates will inherit from this file -->
<!-- This means the top "Siip" part will always be in place  -->
<!-- The other templates will populate the block area-->
<!DOCTYPE html>
<html>
      <!-- Import external resources below -->
      <head>
            <meta charset="utf-8" />
        
            <title>Siip</title>

            <!-- React Libraries -->
            <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
            <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

            <!-- JQuery Ajax -->
            <script
               src="https://code.jquery.com/jquery-3.4.1.min.js"
               integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
               crossorigin="anonymous">
            </script>
            
            <!-- Hammer.js for touchsrcreen gestures -->
            <script src="{{ url_for('static', filename='js/hammer.js') }}"></script>

            <!-- css style sheet -->
            <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}" />

            <!-- Fonts -->
            <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
      </head>


   <body>
      <div id="base-container">
         <!-- Title Area-->
         <div id="title">
            <section>
                  <p class="title-text slide-up">
                        S<!--This comment is required to remove whitespace created by inline-block elements.
                     --><span>
                        <span class="i-stack">.</span>
                        <span class="i-stack">ı</span>
                     </span><!--This comment is required to remove whitespace created by inline-block elements.
                  <!--This comment is required to remove whitespace created by inline-block elements.--><span>
                           <span class="i-stack rainbow-cycle">.</span>
                           <span class="i-stack">ı</span>
                        </span><!--This comment is required to remove whitespace created by inline-block elements.
                     -->p
                  </p>
               </section>
         </div>
         <!-- Title Area-->

         {% block content %}{% endblock %}
         
         <div id="bubbleArea"></div>
      </div>

   </body>
   
<script type=text/javascript>
  // JQuery
  $(function() {
      
      var bubbles = [];
      for(let i = 0; i < 55; i++){
            let size = Math.floor(Math.random() * 50) + 1;  
            let xPos = Math.floor(Math.random() * 100) + 1; 
            let delay = Math.floor(Math.random() * 10) + 1; 
            let speed = Math.floor(Math.random() * 19) + 2; 
            let distance = Math.floor(Math.random() * 45) + 1; 
            let scale = (Math.floor(Math.random() * 51) + 100) / 100; 
            let hue = Math.floor(Math.random() * 110) + 185; 
            
            bubbles.push(
            `<div class="bubble" 
                  style="--left :${xPos}%; --size: ${size};
                        --distance: ${distance}; --speed: ${speed};
                        --delay: ${delay}; --scale: ${scale}; 
                        --hue: ${hue};">
            </div>`);
      }
      console.log(bubbles);
    $('#bubbleArea').append(bubbles);
  });
</script>
</html>
